.nav-list {
    list-style: none;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
}
.navbar-brand {
    margin-left: 25%;
    color: white;
}
.ink {
    height: 40px;
    width: 85px;
}