<div class="container">
    <div class="sum">
        <mat-card class="main-header mat-elevation-z0">
            <img class="tdl-logo" src="./assets/tdl.png" />
        </mat-card>
        <mat-card class="stats mat-elevation-z0">
            <h6 class="shipping-header month">| January 2021 |</h6>
            <div class="overall-stats">
               
                <h6 class="shipping-header"><strong>Shipping:</strong></h6>
            <span class="sum-total">${{ sum.toLocaleString(undefined, {minimumFractionDigits: 2}) }}</span>
            <h6 class="shipping-header"><strong>Fulfillment:</strong></h6>
            <span class="sum-total">${{ fulfillment.toLocaleString(undefined, {minimumFractionDigits: 2}) }}</span>
            <h6 class="shipping-header"><strong>Line Items:</strong></h6>
            <span class="sum-total">${{ lineitemtotal.toLocaleString(undefined, {minimumFractionDigits: 2}) }}</span>
            <h6 class="shipping-header"><strong>Total All:</strong></h6>
            <span class="sum-total">${{ masterTotal.toLocaleString(undefined, {minimumFractionDigits: 2}) }}</span>
            </div>
        </mat-card>
    </div>
    <mat-card class="mat-elevation-z0 search">
        <h6 class="shipping-header"><strong>Search Orders</strong></h6>
        <input class="input" type="text" [(ngModel)]="term">
    </mat-card>
    <div class="main-table">
        <div *ngFor="let item of totalArrayFiltered |filter:term; let i = index">
            <mat-card class="mat-card">
                <div class="items">
                    <span><strong>Order Number: {{ item?.orderNumber }}</strong></span>
                    <span>Shipping Cost: {{ item?.shipmentCost }}</span>
                    <span>Ship Date: {{ item?.createDate }}</span>
                    <span>Ship Date: {{ item?.shipDate }}</span>
                    <div *ngIf="item?.shipmentItems">
                        <span><strong>Line Items: </strong></span>
                        <li *ngFor="let subitem of item['shipmentItems']">{{ subitem?.name }}</li>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="container-line">
    <div class="totallineitems">
        <h6 class="shipping-header"><strong>Line Item Data</strong></h6>
    </div>
        <div class="main-table">
            <div *ngFor="let item of lineX">
                <mat-card>
                    <div class="items">
                        <span><strong>Sku: {{ item?.aliassku }}</strong></span>
                        <span>Description: {{ item?.descriptionl }}</span>
                        <span>Quantity Sold: {{ item?.qtysold }}</span>
                        <span>Total Sales: {{ item?.totalsales }}</span>
                        <span>Total Price Per Item: {{ item?.totalprice }}</span>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
   
</div>
