.items {
    display: flex;
    flex-direction: column;
    margin: 5%;
}
h6 {
    margin: 0;
    padding: 0;
}
.mat-card {
    margin: 2%;
    width: 100%;
}
.search {
    display: flex;
}
.input {
    margin-left: 2%;
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.main-table {
    max-height:42vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.shipping-header {
    font-size: 16px;
}
.sum-total {
    font-size: 14px;
}
.tdl-logo {
    height: 50px;
    width: 150px;
}
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

}
.overall-stats {
    display: flex;
    justify-content: space-evenly;
}
.totallineitems {
    display: flex;
    margin: 3%;
}
.lineitemtotal {
    margin-left: 2%;
}
.container-line {
    margin-bottom: 200px;
}